<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>
        <key>BGTaskSchedulerPermittedIdentifiers</key>
        <array>
            <string>kupio.mobile.unread_messages_sync</string>
        </array>
        <key>UIBackgroundModes</key>
        <array>
            <string>fetch</string>
        </array>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>$(KUPIO_GOOGLE_REVERSED_CLIENT_ID)</string>
                    <string>kupio</string>
                </array>
            </dict>
        </array>
        <key>GIDClientID</key>
        <string>$(KUPIO_GOOGLE_IOS_CLIENT_ID)</string>
        <key>GIDServerClientID</key>
        <string>$(KUPIO_GOOGLE_SERVER_CLIENT_ID)</string>
        <key>KupioBackendBaseUrl</key>
        <string>$(KUPIO_BACKEND_BASE_URL)</string>
        <key>KupioDebugEnabled</key>
        <string>$(KUPIO_DEBUG_ENABLED)</string>
        <key>NSCameraUsageDescription</key>
        <string>Camera access is needed to take listing photos.</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>Photo library access is needed to select listing images.</string>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsLocalNetworking</key>
            <true/>
        </dict>
    </dict>
</plist>
